dist/
deploy_versions/
.temp/
.rn_temp/
node_modules/
.DS_Store
src/config.ts
yarn.lock
yarn-error.log
package-lock.json
.idea/
.vscode
.history

.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

logs/upload/*.json
logs/*.log

project.private.config.json

project.private.json